{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $cloudshell := env "CLOUD_SHELL" | not | not -}}
{{- $interactive := and (not $codespaces) stdinIsATTY -}}
{{- if hasKey . "interactive" -}}
{{-   $interactive = .interactive -}}
{{- end -}}
{{- $manage_ssh := not $codespaces -}}
{{- if hasKey . "manage_ssh" -}}
{{-   $manage_ssh = .manage_ssh -}}
{{- end -}}
{{- $email := get . "email" -}}
{{- if not $email -}}
{{-   if $interactive -}}
{{-     $email = promptString "email" -}}
{{-   else -}}
{{-     $email = "ross@zombiezen.com" -}}
{{-   end -}}
{{- end -}}
{{- $personal_machines_authorized := false -}}
{{- if hasKey . "personal_machines_authorized" -}}
{{-   $personal_machines_authorized = get . "personal_machines_authorized" -}}
{{- else if and $interactive (ne .chezmoi.os "windows") -}}
{{-   $personal_machines_authorized = promptBool "allow SSH from personal machines" -}}
{{- end -}}
sourceDir: {{ .chezmoi.sourceDir | toJson }}
encryption: age
data:
  email: {{ $email | toJson }}
  interactive: {{ $interactive }}
  cloudshell: {{ $cloudshell }}
  manage_ssh: {{ $manage_ssh }}
  personal_machines_authorized: {{ $personal_machines_authorized }}
  {{- with get . "bin_path" }}
  bin_path: {{ . | toJson }}
  {{- else }}
  bin_path: []
  {{- end }}
  {{- with get . "env" }}
  env: {{ . | toJson }}
  {{- else }}
  env: {}
  {{- end }}
  # If you're on a particularly nasty system, set to false:
  global_rcs: {{ if hasKey . "global_rcs" }}{{ .global_rcs }}{{ else }}true{{ end }}
  # If your terminal supports true colors, then set to true:
  terminal_true_colors: {{ if hasKey . "terminal_true_colors" }}{{ .terminal_true_colors }}{{ else }}false{{ end }}
  # If you're on Crostini and want the GNOME keyring daemon, then set to true:
  gnome_keyring: {{ if hasKey . "gnome_keyring" }}{{ .gnome_keyring }}{{ else }}false{{ end }}
age:
  {{- if stat (joinPath .chezmoi.homeDir ".ssh" "id_ed25519") }}
  identity: ~/.ssh/id_ed25519
  {{- else if stat (joinPath .chezmoi.homeDir ".ssh" "id_rsa") }}
  identity: ~/.ssh/id_rsa
  {{- else if stat (joinPath .chezmoi.homeDir "dotfiles-agekey.txt") }}
  identity: ~/.ssh/dotfiles-agekey.txt
  {{- else if $manage_ssh }}
  {{- /* Identity will get generated during run. */}}
  identity: ~/.ssh/id_ed25519
  {{- else }}
  # identity: ~/.ssh/dotfiles-agekey.txt
  {{- end }}
  recipients:
    - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJQrBxwfT8KrAIHdzAh/Eo3OqW/0cycRZkWnOkm8MS3P
    - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAHSifkYAPkqGy/tUiJgYrc+1Mnzfa+Y2Ml9IR0nrCud
    - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIML94L6Yk4VV0nEhuWstrmjZekpA/rQ/zbhG01CNzqdo
    - age1ps57ka8nrsjskq8dapdde0rvulj76jjjqtlq5swwxy38ccq4hplq6vvzpn
