{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $email := get . "email" -}}
{{- if not $email -}}
{{-   if $codespaces -}}
{{-     $email = "ross@zombiezen.com" -}}
{{-   else -}}
{{-     $email = promptString "email" -}}
{{-   end -}}
{{- end -}}
sourceDir: {{ .chezmoi.sourceDir | toJson }}
data:
  email: {{ $email | toJson }}
  {{- with get . "bin_path" }}
  bin_path: {{ . | toJson }}
  {{- else }}
  bin_path: []
  {{- end }}
  {{- with get . "env" }}
  env: {{ . | toJson }}
  {{- else }}
  env: {}
  {{- end }}
  # If you're on a particularly nasty system, set to false:
  global_rcs: {{ if hasKey . "global_rcs" }}{{ .global_rcs }}{{ else }}true{{ end }}
  # If your terminal supports true colors, then set to true:
  terminal_true_colors: {{ if hasKey . "terminal_true_colors" }}{{ .terminal_true_colors }}{{ else }}false{{ end }}
  # If you're on Crostini and want the GNOME keyring daemon, then set to true:
  gnome_keyring: {{ if hasKey . "gnome_keyring" }}{{ .gnome_keyring }}{{ else }}false{{ end }}
