[ui]
username = Roxy Light <{{ get . "email" | default "roxy@zombiezen.com" }}>
commitsubrepos = false

[alias]
diffstat = diff --stat --pager=off
qq = qqueue
qs = qseries --color=off -v -s

[diff]
git = True

[extensions]
hgext.color=
hgext.histedit=
hgext.mq=
hgext.pager=
hgext.progress=
hgext.purge=
hgext.rebase=
hgext.record=
hgext.schemes=
hgext.share=

[merge-tools]
nvimdiff.executable = nvim
nvimdiff.args = -S ~/.config/vim/scripts/hgdiff.vim -d $base $local $other $output
nvimdiff.premerge = keep
nvimdiff.check = changed

# vim: ft=cfg
