# shellcheck disable=SC0-SC9999
{{- if not .global_rcs }}
setopt NO_GLOBAL_RCS
{{- end }}

typeset -T XDG_CONFIG_DIRS xdgconfigdirs

export EDITOR=vim
export VIMINIT=":source $HOME/.config/vim/init.vim"

export PAGER=less
export LESS=R
export LESSHISTFILE="${XDG_CACHE_HOME:-$HOME/.cache}/lesshst"

export GOPATH="$HOME"
export GOTOOLCHAIN=local
export NPM_CONFIG_PREFIX="$HOME"

export LEDGER_PEDANTIC=1
export LEDGER_EXPLICIT=1
export LEDGER_DATE_FORMAT='%Y-%m-%d'

export DEBFULLNAME='Ross Light'
export DEBEMAIL={{ get . "email" | default "ross@zombiezen.com" | squote }}

# gcloud settings
export CLOUDSDK_COMPONENT_MANAGER_DISABLE_UPDATE_CHECK=True
export CLOUDSDK_STORAGE_PARALLEL_COMPOSITE_UPLOAD_ENABLED=True
export CLOUDSDK_STORAGE_PARALLEL_COMPOSITE_UPLOAD_COMPATIBILITY_CHECK=True

GPG_TTY="$(tty)"
export GPG_TTY

{{- if .gnome_keyring }}

eval $(/usr/bin/gnome-keyring-daemon --start)
export SSH_AUTH_SOCK
{{- end }}

{{- if hasKey . "env" }}

# Machine-local environment variables
{{- range $k, $v := .env }}
export {{ $k | upper }}={{ $v | squote }}
{{- end }}
{{- end }}

# HGRCPATH reads in files sequentially to build up map, so later entries
# override earlier ones.  This is the reverse order of common UNIX paths.
typeset -T HGRCPATH hgrcpath
hgrcpath=( /usr/etc/mercurial/hgrc /etc/mercurial/hgrc /etc/mercurial/hgrc.d )
for (( idx=${#xdgconfigdirs[@]}; idx > 0; idx-- )); do
  hgrcpath+=( "${xdgconfigdirs[idx]}/mercurial/hgrc" )
done
hgrcpath+=( "${XDG_CONFIG_HOME:-$HOME/.config}/mercurial/hgrc" "$HOME/.hgrc" )
export HGRCPATH


oldpath=( "${path[@]}" )
path=(
  "$HOME/bin" \
  "$HOME/.local/bin" \
  "$HOME/.local/state/nix/profile/bin" \
  "$HOME/.nix-profile/bin" \
  /nix/var/nix/profiles/default/bin \
  {{- if hasKey . "bin_path" }}
  {{- range .bin_path }}
  {{ . | squote }} \
  {{- end }}
  {{- end }}
  /usr/local/sbin \
  /usr/local/go/bin \
  /usr/local/bin \
  /usr/sbin \
  /usr/bin \
  /sbin \
  /bin \
  /usr/games \
  /usr/local/games \
)
fpath=(
  "$HOME/.local/state/nix/profile/share/zsh/site-functions" \
  "$HOME/.nix-profile/share/zsh/site-functions" \
  {{- if hasKey . "fpath" }}
  {{- range .fpath }}
  {{ . | squote }} \
  {{- end }}
  {{- end }}
  /nix/var/nix/profiles/default/share/zsh/site-functions \
  "${fpath[@]}" \
)

# Environment extensions
if [[ -e "$HOME/google-cloud-sdk/path.zsh.inc" ]]; then
  source "$HOME/google-cloud-sdk/path.zsh.inc"
fi
if [[ -e "$HOME/.cargo/env" ]]; then
  source "$HOME/.cargo/env"
fi
if [[ -e "$HOME/.local/state/nix/profile/etc/profile.d/nix.sh" ]]; then
  source "$HOME/.local/state/nix/profile/etc/profile.d/nix.sh"
elif [[ -e "$HOME/.nix-profile/etc/profile.d/nix.sh" ]]; then
  source "$HOME/.nix-profile/etc/profile.d/nix.sh"
fi
if [[ -e "$HOME/.rvm/scripts/rvm" ]]; then
  source "$HOME/.rvm/scripts/rvm"
fi
{{- range .zshenv }}
if [[ -e '{{ . }}' ]]; then
  source '{{ . }}'
fi
{{- end }}

# Add any elements that were present in the PATH before to the end of PATH.
for p1 in "${oldpath[@]}"; do
  for p2 in "${path[@]}"; do
    if [[ "$p1" = "$p2" ]]; then
      # Continue `p1 in oldpath`.
      continue 2
    fi
  done
  path+=( "$p1" )
done
unset p1 p2 oldpath

# Use VSCode as EDITOR if available.
if whence -p code 2>&1 > /dev/null; then
  EDITOR='code --wait'
fi

{{- if eq .chezmoi.os "linux" }}
# VSCode seems to not set XDG_RUNTIME_DIR sometimes in SSH.
if [[ -z "${XDG_RUNTIME_DIR:-}" ]]; then
  export XDG_RUNTIME_DIR="/run/user/$(id -u)"
fi
{{- end }}
