#!/bin/bash
set -euo pipefail
if ! command -v nix-env > /dev/null; then
  echo "** warning: nix not installed" 1>&2
  exit 0
fi

echo "** Installing Nix packages..." 1>&2
nix-env \
  --file '{{ .chezmoi.sourceDir }}/nix' \
  --profile "/nix/var/nix/profiles/per-user/$USER/profile" \
  --install --attr mypkgs
