#!/usr/bin/env bash
# email hash: {{ get . "email" | default "ross@zombiezen.com" | sha256sum }}
# gui: {{ get . "gui" }}
# nix/default.nix hash: {{ include "nix/default.nix" | sha256sum }}
# nix/flake.lock hash: {{ include "nix/flake.lock" | sha256sum }}
# nix/flake.nix hash: {{ include "nix/flake.nix" | sha256sum }}
# nix/gohack.nix hash: {{ include "nix/gohack.nix" | sha256sum }}
# nix/govulncheck.nix hash: {{ include "nix/govulncheck.nix" | sha256sum }}
# nix/nix-op-key/default.nix hash: {{ include "nix/nix-op-key/default.nix" | sha256sum }}
# nix/nix-op-key/nix-op-key.sh hash: {{ include "nix/nix-op-key/nix-op-key.sh" | sha256sum }}
# nix/nix-rebuild-profile/default.nix hash: {{ include "nix/nix-rebuild-profile/default.nix" | sha256sum }}
# nix/nix-rebuild-profile/nix-rebuild-profile.sh hash: {{ include "nix/nix-rebuild-profile/nix-rebuild-profile.sh" | sha256sum }}
# nix/nixos-vscode/default.nix hash: {{ include "nix/nixos-vscode/default.nix" | sha256sum }}

set -euo pipefail
if ! command -v nix > /dev/null; then
  echo "** warning: nix not installed" 1>&2
  exit 0
fi

echo "** Installing Nix packages..." 1>&2
discord='{{ contains "discordapp.com" ( get . "email" | default "ross@zombiezen.com" ) }}'
gui='{{ get . "gui" | default false }}'
profile_dir="${XDG_DATA_HOME:-$HOME/.local/share}/nix/profiles"
mkdir -p "$profile_dir"
profile="$profile_dir/profile"
nix build \
  --impure \
  --no-link \
  --profile "$profile" \
  --arg discord "$discord" \
  --arg gui "$gui" \
  --file '{{ .chezmoi.sourceDir }}/nix' profile
"$profile/bin/nix-store" --gc
