#!/usr/bin/env bash
# email hash: {{ get . "email" | default "ross@zombiezen.com" | sha256sum }}
# gui: {{ get . "gui" }}
# nix/default.nix hash: {{ include "nix/default.nix" | sha256sum }}
# nix/flake.nix hash: {{ include "nix/flake.nix" | sha256sum }}
# nix/gohack.nix hash: {{ include "nix/gohack.nix" | sha256sum }}
# nix/govulncheck.nix hash: {{ include "nix/govulncheck.nix" | sha256sum }}

set -euo pipefail
if ! command -v nix-env > /dev/null; then
  echo "** warning: nix not installed" 1>&2
  exit 0
fi

echo "** Installing Nix packages..." 1>&2
discord='{{ contains "discordapp.com" ( get . "email" | default "ross@zombiezen.com" ) }}'
gui='{{ get . "gui" | default false }}'
nix-env \
  --file '{{ .chezmoi.sourceDir }}/nix' \
  --profile "/nix/var/nix/profiles/per-user/$USER/profile" \
  --arg discord "$discord" \
  --arg gui "$gui" \
  --install --attr mypkgsList
nix-store --gc
