#!/bin/bash
set -euo pipefail
if ! command -v nix-env > /dev/null; then
  echo "** warning: nix not installed" 1>&2
  exit 0
fi

echo "** Installing Nix packages..." 1>&2
nix-env \
  --file '{{ .chezmoi.sourceDir }}/nix' \
  --install --attr \
  nixpkgs._1password \
  nixpkgs.age \
  nixpkgs.cargo \
  nixpkgs.colordiff \
  nixpkgs.crane \
  nixpkgs.delve \
  nixpkgs.gcrane \
  nixpkgs.gg-scm \
  nixpkgs.git \
  nixpkgs.gnupg \
  nixpkgs.go_1_17 \
  nixpkgs.google-cloud-sdk \
  nixpkgs.gopls \
  nixpkgs.graphviz-nox \
  nixpkgs.heroku \
  nixpkgs.hugo \
  nixpkgs.jq \
  nixpkgs.ledger \
  nixpkgs.mercurial \
  nixpkgs.netcat-gnu \
  nixpkgs.nodejs-16_x \
  nixpkgs.redo-zombiezen \
  nixpkgs.rust-analyzer \
  nixpkgs.rustc \
  nixpkgs.rustfmt \
  nixpkgs.shellcheck \
  nixpkgs.subversionClient \
  nixpkgs.sqlite-interactive \
  nixpkgs.terraform \
  nixpkgs.tree \
  nixpkgs.vim_configurable
