[user]
	name = Ross Light
	email = {{ get . "email" | default "ross@zombiezen.com" }}
[core]
{{- if eq .chezmoi.os "windows" }}
	autocrlf = false
	editor = code --wait
{{- end }}

[push]
	default = upstream

{{- if .force_github_ssh }}
[url "ssh://git@github.com/"]
	insteadOf = "https://github.com/"
{{- end }}

{{- if ne .chezmoi.os "windows" }}
[credential]
	helper = store
{{- end }}

[credential "https://source.developers.google.com"]
	helper =
{{- if eq .chezmoi.os "windows" }}
	helper = gcloud.cmd
{{- else }}
	helper = gcloud.sh
{{- end }}

{{- if ne .chezmoi.os "windows" }}

[http]
	cookiefile = {{ .chezmoi.homeDir }}/.gitcookies
{{- end }}

{{- if eq .chezmoi.os "windows" }}
[safe]
	directory = C:/tools/flutter
{{- end }}

[alias]
	change = codereview change
	gofmt = codereview gofmt
	mail = codereview mail
	pending = codereview pending
	submit = codereview submit
	sync = codereview sync

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
