[user]
	name = Ross Light
	email = {{ get . "email" | default "ross@zombiezen.com" }}
[core]
	commentchar = ";"
{{- if eq .chezmoi.os "windows" }}
	autocrlf = false
	editor = code --wait
{{- end }}
[push]
	default = upstream
{{- if .force_github_ssh }}
[url "ssh://git@github.com/"]
	insteadOf = "https://github.com/"
{{- end }}
{{- if ne .chezmoi.os "windows" }}
[credential]
	helper = store
[credential "https://source.developers.google.com"]
	helper =
	helper = gcloud.sh
[alias]
	change = codereview change
	gofmt = codereview gofmt
	mail = codereview mail
	pending = codereview pending
	submit = codereview submit
	sync = codereview sync
{{- end }}
