#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[user]
name = "Roxy Light"
email = "{{ get . "email" | default "roxy@zombiezen.com" }}"

[fix.tools.gofmt]
command = ["gofmt", "-w", "$path"]
patterns = ["glob:'**/*.go'"]

[[--scope]]
--when.commands = ["status"]
[--scope.ui]
paginate = "never"
