#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[user]
name = "Roxy Light"
email = "{{ get . "email" | default "roxy@zombiezen.com" }}"

[[--scope]]
--when.commands = ["status"]
[--scope.ui]
paginate = "never"
