#!/usr/bin/env bash
set -euo pipefail

# nix/flake.nix hash: {{ include "nix/flake.nix" | sha256sum }}
# nix/flake.lock hash: {{ include "nix/flake.lock" | sha256sum }}
# nix/nixos-vscode/default.nix hash: {{ include "nix/nixos-vscode/default.nix" | sha256sum }}
nix_dir='{{ .chezmoi.sourceDir }}/nix'

nix build \
  --no-warn-dirty \
  --out-link nixos-vscode \
  "${nix_dir}#nixos-vscode"
