#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[user]
name = "Roxy Light"
email = "{{ get . "email" | default "roxy@zombiezen.com" }}"

[ui]
diff-editor = ":builtin"  # disables noisy messages
merge-editor = "vscode"
revsets-use-glob-by-default = true
{{- if eq .chezmoi.os "windows" }}
editor = "code.cmd --wait"
{{- end }}

[aliases]
touch = ["metaedit", "--update-author-timestamp"]

[fix.tools.gofmt]
command = ["gofmt"]
patterns = ["glob:'**/*.go'"]

[git]
private-commits = "description(glob:'private:*') | description(glob:'wip:*')"

[[--scope]]
--when.commands = ["status"]
[--scope.ui]
paginate = "never"
