#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[user]
name = "Roxy Light"
email = "{{ get . "email" | default "roxy@zombiezen.com" }}"

[ui]
diff-editor = ":builtin"  # disables noisy messages
merge-editor = "vscode"
revsets-use-glob-by-default = true
{{- if eq .chezmoi.os "windows" }}
editor = "code.cmd --wait"
{{- end }}

[aliases]
touch = ["metaedit", "--update-author-timestamp", "--quiet"]
mm = ["bookmark", "move", "main"]
mmp = ["bookmark", "move", "--to=first_parent(@)", "main"]

# Frequently, I will keep a "private" bookmark
# that contains local-only changes that I don't want to share.
# (Usually these shim in some dev tools settings or something.)
# My working copy commit will then be a merge of the change I want and the "private" branch.
# This alias untangles the change(s) from the "private" branch.
rebase-public = ["rebase", "--revisions=private::@- & ~private", "--after=first_parent(private+ & ::@)"]
rbp = ["rebase-public"]

[fix.tools.gofmt]
command = ["gofmt"]
patterns = ["glob:'**/*.go'"]

[git]
private-commits = "description(glob:'private:*') | description(glob:'wip:*') | diff_contains(glob:'*TODO(now)*')"

[template-aliases]
'commit_timestamp(commit)' = 'commit.author().timestamp()'

[[--scope]]
--when.commands = ["status"]
[--scope.ui]
paginate = "never"

[[--scope]]
--when.commands = ["evolog"]
[--scope.template-aliases]
'commit_timestamp(commit)' = 'commit.committer().timestamp()'
